.bg-red {
    background-color: #020453!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 223, 12);

}
.bg-dark {
    background-color: #010341!important;
}


.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #fe5f5f;
    content: "/";
}
.breadcrumb a {
    color: #fe5f5f;
}

.breadcrumb-item.active {
    color: #075d7e;
}

.btn-outline-secondary {
    color: #000000;
    background-color: transparent;
    background-image: none;
    border-color: #050b55;
    color:aliceblue;
    background: #696b8b;
}


.btn-cart {
  color: #635d07;
  background-color: #050b55;
  border-color: #696b8b;
}
.btn-cart:hover {
  color: #0c0707;
  background-color: #050b55;
  border-color: #696b8b;
}


